@charset "utf-8";

body {
  text-align: center;
  font-family: sans-serif; 
  background: url("../images/background.png") repeat; }

h1 {
  color: rgba(0, 0, 0, .3);
  font-weight: bold;
  font-size: 32px;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  background: url("../images/middleman.png") no-repeat center 100px;
  padding: 350px 0 10px;
  margin: 0; }

a {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  background: #3498db;
  text-decoration: none;
  padding: 5px 10px 5px 10px; }

a:hover {
  background: #3cb0fd;
  text-decoration: none; }

@media all {
  #canvas-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 400px;
    max-height: 300px;
    width: 400px;
    height: 300px;
    border: 2px dashed #aaa;
    border-radius: 5px;
  }
}

@media all and (max-width: 768px) {
  #canvas-container {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 225px;
  }
}

#photo {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px; }

.btn {
  margin-left: 5px;
  margin-bottom: 5px;
  display: inline-block; }

#lyrics-container {
  padding-top: auto;
  padding-bottom: auto; }

#add-lyrics {
  margin-top: auto;
  margin-bottom: auto; }

#lyrics {
  border: none;
  border: solid 1px #ccc;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px; }
